<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="css/toastr.css" rel="stylesheet"/>
    <script src="/js/scripts.js"></script>
    <script  src="/js/app.js"></script>
    <script src="/js/toastr.js"></script>
    

</head>
<body>
   <nav class="container navbar mx-auto flex items-center justify-between py-4 ">
    <div>
        <a href="/"><img src="/img/logo.png" width="120" alt="logo"></a>
    </div>
    <div>
        <ul class="flex items-center">
            <li class="ml-6"><a href="/">Menu</a></li>
            <li class="ml-6"><a href="">Offers</a></li>
            <%if(user){%>
                <form id="logout" action="/logout" method="POST">
            <li class="ml-6"><a onclick="document.getElementById('logout').submit()" href="#">Logout</a></li>
                </form>
            <%}else{%>
            <li class="ml-6"><a href="/register">Register</a></li>
            <li class="ml-6"><a href="/login">Login</a></li>
            <%}%>
            <li class="cart ml-6"><a href="/cart" class="px-4 py-2 rounded-full">

                

               <span id="cartCounter"><%= session.cart ? session.cart.totalQty : '' %></span> 

               <i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>
   </nav>
 <%- body  %> 
<footer class="py-4 mt-5 text-center">
<p>© 2022 FoodApp All rights reserved.

</p>
</footer>
 
</body>
</html>