@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  background: #fff;
  width: 100%;
}

nav li.cart a {
  background-color: #7E263C;
  color: #fff;
}

nav li.cart a:hover {
  background-color: #ba001f;
}

nav li {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav li:hover {
  color: #7E263C;
}

section.hero {
  background-color: #f8f8f8;
}

section.hero img {
  width: 400px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.hero img:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.auth-btn {
  background: #7E263C;
  color: #fff;
  display: inline;
}

.auth-btn:hover {
  background: #ba001f;
}

.primary-btn {
  background: #7E263C;
  color: #fff;
}

.primary-btn:hover {
  background: #ba001f;
}

section.menu img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.menu .card {
  border-radius: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.menu .card:hover {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

section.menu .card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

section.menu .size {
  background: #f8f8f8;
}

section.menu .add-to-cart {
  border: 2px solid #7E263C;
  color: #7E263C;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section.menu .add-to-cart:hover {
  background: #7E263C;
  color: #fff;
}

section.cart {
  background-color: #f8f8f8;
}

section.cart .amount {
  color: #7E263C;
}

section.cart .order h4 i {
  font-size: 30px;
}

section.login {
  background-color: #f8f8f8;
  min-height: calc(100vh - 92px);
}

section.login .form-wrapper {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

section.login .form-wrapper input {
  border-radius: 5px;
}

section.login .form-wrapper .submit-btn a {
  color: #7E263C;
}

section.orders {
  min-height: calc(100vh - 92px);
}

section.orders .link {
  color: #7E263C;
}

footer {
  background: #7E263C;
  color: #fff;
}
