
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

@import './variables';



body{
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a{
    background-color:$primary-color;
    color: $light;

    &:hover{
        background-color: $primary-hover;
        
    }
}
nav li{
    transition: $smooth;
    &:hover {
        color: $primary-color;

        
    }
}
section.hero {
    background-color:$secondary-color;

    img {
        width: 400px;
    }

    .btn-order{
        background-color:$primary-color;
    }

  
}
section.menu {
    .card{
        border-radius: 15px;
       
        transition: $smooth;

        &:hover {
            background-color: aqua;
        }
    }

    .size{
        background: $secondary-color;
    }

    .add-to-cart{
        border: 2px solid $primary-color;
        color: $primary-color;
        transition: $smooth;

        &:hover {
            background: $primary-color;
            color:$light ;
        }
    }
}